// app logo
.logo {
  max-height: 60px;
  margin-left: 15px;
}

// cart icon
.shoppingCart {
  margin-right: 35px;
  font-size: x-large;
}

.cart-no {
  position: absolute;
  min-height: 20px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: blue;
  color: white;
  text-align: center;
  top: -12px;
  right: 20px;
}

// Nav links
li {
  margin-right: 120px;
  font-size: larger;
}

// buttons for authentication
#login {
  margin-right: 10px;
}

#signup {
  margin-right: 10px;
}

a {
  color: #343a40;

  &.active {
    color: orange;
  }
}

.logo {
  cursor: pointer;
}
